body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2ee88;
}

.about {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about1 {

    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #347fd5;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

nav .dropdown-content a:hover {
    background-color: #555;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    text-align: center;
    padding: 50px;
    color: #347fd5;
}

footer {
    background-color: #347fd5;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.academic {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.semester {
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}